<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
  <title>Read Files from a git repository</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Read Files from git repository</h1>
  <form action="#" th:action="@{read}" th:object="${infidel}" method="post">
  <p>Inform the address (including the repository files and '/' at the end): <input size="100" type="text" th:field="*{urlAddress}"></p>
  <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
</form>
</body>
</html>